/* config geral */
@font-face {
	font-family: "Boton Medium";
	src: url(../fonts/Boton\ Medium.otf)
}

@font-face {
	font-family: "Boton Regular";
	src: url(../fonts/Boton\ Regular.ttf)
}


/* Cabeçalho*/
header {
    width: 100%;
    height: 222px;
    background-color: #412856;
}

h1.title {
    font-size: 80px;
    font-family: "Boton Medium";
    text-align: center ;
    color: #FFFFFF;
    padding-top: 62px;
    margin: 0;
}

/*Banner*/
.banner-img {
    width: 100%;
    height: auto;
    margin: 0;
}

/*Informação*/
.container-section {
    width: 100%;
    height: auto;
    background: linear-gradient(#7E649F 0%, #130D36 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*texto inicial*/
.container-section {
    width: 100%;
    height: auto;
    left: 0px;
    top: 853px;

}
.conteinar-text01 {
    width: 100%;
    height: 183px;
    left: 0px;
    top: 853px;
}

.text-box {
    width: 1241px;
    height: 94px;
    margin-left: auto;
    margin-right: auto;
}

.text01 {
    font-family: "Boton Regular";
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-top: 71px;
    padding-left: auto;
    padding-right: auto;
}

/* Botão */
.row.container-btn {
    margin: 0;
    width: 100%;
    height: 63px;
    left: 0px;
    margin: 0;
}

.box-btn {
    width: 368px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-family: "Boton Medium";
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    background: #AD72DF;
    width: 368px;
    height: 62px;
    left: 535px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.button span {
    margin: auto;
}

/* Cartão */ 
.row.card-row {
    width: 1440px;
    height: auto;
    margin: 0;
}
.col-md-4.card-all {
    margin-top: 97px;
    padding: 0;
    
}

.rounded-circle.imagem-profile {
    align-items: center;
    margin-left: auto;
    margin-left: auto;    
}

.card01 {
    width: 361px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

/* Texto chamativo */
.row.row-text-call{
    width: 100%;
    height: auto;
    margin: 121px 0 117px;
}

.text-call01 {
    font-family: "Boton Medium";
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0;
}

/* texto dos perfis */
.row.container-title-perfil {
    width: auto;
    margin: 0;
}

.row.box-title-perfil {
    width: auto;
    height: 100%;
    margin: 0;
}

.col-md-2.coltitleperfil {
    width: 255px;
    height: 150px;
    margin-left: 111px;
    padding: 0;
    top: 17.65px;
}

.title-perfil {
    font-size: 42px;
    line-height: 50px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 0;
}

.col-md.colbarra {
    padding: 0;
    margin: 0;
}

.barra {
    width: 2px;
    height: 196.61px;
    background-color: #FFFFFF;
    margin-left: 51px;
    margin-right: 40px;
}

div.col-md-6.colsubtextoperfil {
    width: 805px;
    margin: 38.78px 285px 0 92px;
    padding: 0;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

p.subtexto-perfil {
    width: 805px;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.linha2 {
    margin: 49px 0 0;
    padding-bottom: 136px;
}

/*Roda pé*/
.row.footer {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 215px;
    background-color: #000;
    text-align: center;
}

.containerdireito {
    margin-left: auto;
    margin-right: auto;
}

.direito {
    margin-top: 95px;
    font-family: "Boton Regular";
    font-size: 26px;
    line-height: 26px;
    align-items: center;
    color: #fff;
}
