/* config geral */
@font-face {
	font-family: "Boton Medium";
	src: url(../fonts/Boton\ Medium.otf)
}

@font-face {
	font-family: "Boton Regular";
	src: url(../fonts/Boton\ Regular.ttf)
}

/* Inicio da tela => 768px */
    /* Cabeçalho*/
    header {
        width: 100%;
        height: 15.417vw;
        background-color: #412856;
    }

    h1.title {
        font-size: 5.556vw;
        font-family: "Boton Medium";
        text-align: center ;
        color: #FFFFFF;
        padding-top: 4.306vw;
        margin: 0;
    }

    div.row {
        margin-right: 0px;
        margin-left: 0px;}

    /*Banner*/
    .banner-img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    /*Informação*/
    .container-section {
        width: 100%;
        height: auto;
        background: linear-gradient(#7E649F 0%, #130D36 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    /*texto inicial*/
    .container-section {
        width: 100%;
        height: auto;
        left: 0px;
        top: 59.236vw;

    }
    .conteinar-text01 {
        width: 100%;
        height: 12.708vw;
        left: 0px;
    }

    .text-box {
        width: 86.181vw;
        height: 6.528vw;
        margin-left: auto;
        margin-right: auto;
    }

    .text01 {
        font-size: 1.806vw;
        line-height: 1.806vw;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        padding-top: 4.931vw;
    }
    .text01 p{
        font-family: "Boton Regular";
    }

    /* Botão */
    .row.container-btn {
        margin: 0;
        width: 100%;
        height: 4.375vw;
        left: 0px;
        margin: 0;
    }

    .box-btn {
        width: 325.556vw;
        height: 4.306vw;
        margin-left: auto;
        margin-right: auto;
        
    }

    .button {
        width: 25.556vw ;
        height: 4.306vw;
        left: 2.580vw;
        background: #AD72DF;
        font-family: "Boton Medium";
        font-size: 2.083vw;
        line-height: 2.500vw;
        display: flex;
        letter-spacing: 0.02em;
        margin-left: auto;
        margin-right: auto;
        color: #FFFFFF;
        box-shadow: 0px 0.278vw 0.278vw rgba(0, 0, 0, 0.25);
        border-radius: 0.417vw;
        
    }

    .button:hover {
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
        color: #fff;
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        text-decoration:none;
    }
    
    .button:active {
        box-shadow: inset 0px 4px 10px #AD72DF;
        border: none;
        outline: none;
        color: #fff;
        text-decoration:none;

    }

    .button span {
        margin: auto;
    }

    

    /* Cartão */
    .card {
        width: 24.70vw;
        margin-left: 6.736vw;
        margin-top: 6.597vw;
        height: auto;
    }

    img.card-img-top {
        width: 10.556vw;
        height: auto;
        align-self: center;
    }

    div.card-body {
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .card-subtitle.mb-2.tema01 {
        font-family: "Boton Regular";
        font-size: 1.528vw;
        letter-spacing: 0.02em;
        color: #fff;
    }

    .card-subtitle.mb-2 {
        font-family: "Boton Medium";
        font-size: 1.528vw;
        letter-spacing: 0.02em;
        color: #fff;
    }

    .card-title {
        font-family: "Boton Medium";
        margin-top: 2.500vw;
        font-size: 2.222vw;
        letter-spacing: 0.02em;
        color: #fff;
    }

    .card-text {
        font-family: "Boton Regular";
        font-size: 1.528vw;
        line-height: 1.806vw;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        color: #fff;
    }


    .card02 {
        width: 25.5vw;
        margin-left: 5.208vw;
        margin-right: 5.208vw;
        margin-top: 6.597vw;
        height: auto;
    }

    .card03 {
        width: 25.5vw;
        margin-left: 0;
        margin-right: 6.111vw;
        margin-top: 6.597vw;
        height: auto;
    }

    /* Texto chamativo */
    .row.row-text-call{
        width: 100%;
        height: auto;
        margin: 8.403vw 0 8.125vw;
    }

    .text-call01 {
        font-family: "Boton Medium";
        font-size: 4.167vw;
        line-height: 5vw;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin: 0;
    }

    /* texto dos perfis */
    .row.container-title-perfil {
        width: auto;
        margin: 0;
    }

    .row.box-title-perfil {
        width: auto;
        height: 100%;
        margin: 0;
    }

    .col-md-2.coltitleperfil {
        width: 17.708vw;
        height: 10.417vw;
        margin-left: 7.708vw;
        padding: 0;
        top: 1.226vw;
    }

    .title-perfil {
        font-size: 2.917vw;
        line-height: 3.472vw;
        text-align: right;
        color: #FFFFFF;
        margin-bottom: 0;
    }

    .col-md.colbarra {
        padding: 0;
        margin: 0;
    }

    .barra {
        width: 0.139vw;
        height: 13.653vw;
        background-color: #FFFFFF;
        margin-left: 3.542vw;
        margin-right: 2.778vw;
    }

    div.col-md-6.colsubtextoperfil {
        width: 55.903vw;
        margin: 2.693vw 18.206vw 0 6.389vw;
        padding: 0;
        font-size: 1.806vw;
        line-height: 1.806vw;
        color: #FFFFFF;
    }

    p.subtexto-perfil {
        width: 55.903vw;
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .linha2 {
        margin: 3.403vw 0 0;
        padding-bottom: 9.444vw;
    }

    .col-md-2.coltitleperfil02 {
        width: 17.708vw;
        height: 10.417vw ;
        margin-left: 7.708vw;
        padding: 0;
        top: 2.847vw;
    }

    div.col-md-6.colsubtextoperfil02 {
        width: 55.903vw;
        margin: 4.306vw 18.206vw 0 6.389vw;
        padding: 0;
        font-size: 1.806vw;
        line-height: 1.806vw;
        color: #FFFFFF;
    }

    p.subtexto-perfil2 {
        width: 62.903vw;
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    /*Roda pé*/
    .row.footer {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 14.931vw;
        background-color: #000;
        text-align: center;
    }

    .containerdireito {
        margin-left: auto;
        margin-right: auto;
    }

    .direito {
        margin-top: 6.597vw;
        font-family: "Boton Regular";
        font-size: 1.806vw;
        line-height: 1.806vw;
        align-items: center;
        color: #fff;
    }

/* fim da tela => 768px */

/* Inicio da tela => 320px */
@media screen and (max-width: 565px) {
    /* Cabeçalho*/
header {
    width: 100%;
    height: 39.200vw;
}

h1.title {
    font-size: 16vw;
    padding-top: 9.600vw;
    margin: 0;
}

/*Banner*/
.banner-img {
    width: 100%;
    height: 50%;
    margin: 0;
}

/*Informação*/
.container-section {
    width: 100%;
    height: auto;
    background: linear-gradient(#7E649F 0%, #130D36 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*texto inicial*/
.container-section {
    width: 100%;
    height: auto;
    top: 59.236vw;

}
.conteinar-text01 {
    width: 100%;
    height: 140.333vw;
}

.text-box {
    width: 86.181vw;
    height: 6.528vw;
    margin-left: auto;
    margin-right: auto;
}

.text01 {
    width: 66.667vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 6.933vw;
    line-height: 6.933vw;
    padding-top: 17.600vw;
}

    /* Botão */


.row.container-btn {
    width: 100%;
    height: 41.867vw;
}

.box-btn {
    width: 325.556vw;
    height: 4.306vw;
    margin-left: auto;
    margin-right: auto;
    
}

.button {
    width: 84.533vw ;
    height: 16.533vw;
    font-size: 8vw;
    line-height: 9.600vw;
    display: flex;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1.067vw 1.067vw rgba(0, 0, 0, 0.25);
    border-radius: 1.600vw;
}

    /* Cartão */
.rowcard {
    margin-top: 2.667vw;
}

.card-group {
    margin: auto;
}

.card {
    width: 85.333vw;
    margin: 2.667vw auto 0;
    margin-left: auto;

    margin-top: auto;

}

img.card-img-top {
    width: 40.533vw;

}

.card-subtitle.mb-2.tema01 {

    font-size: 5.867vw;
    letter-spacing: 0.02em;

}

.card-subtitle.mb-2 {

    font-size: 5.867vw;
    letter-spacing: 0.02em;

}

.card-title {

    margin-top: 9.600vw;
    font-size: 8.533vw;
    letter-spacing: 0.02em;

}

.card-text {
    font-size: 5.867vw;
    line-height: 6.933vw;
    align-items: center;
    text-align: center;
}

.card-text.text02{
    width: 72vw;
    margin-left: auto;
    margin-right: auto;
}

.card02 {
    width: 85.333vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25.333vw;
    height: auto;
}

.card03 {
    width: 85.333vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25.333vw;
    height: auto;
}

.card-text.text03{
    width: 72vw;
    margin-left: auto;
    margin-right: auto;
}

    /* Texto chamativo */
.row.row-text-call{
    width: 100%;
    margin: 32.267vw 0 31.200vw;
}

.text-call01 {
    font-size: 16vw;
    line-height: 19.200vw;
    margin: 0;
    padding: 0;
}

    /* texto dos perfis */
.col-md-2.coltitleperfil {
    width: 68vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    top: 4.707vw;
}

.title-perfil {
    font-size: 11.200vw;
    line-height: 13.333vw;
    text-align: center;
    color: #FFFFFF;
}

.col-md.colbarra {
    padding: 0;
    margin: 25.682vw 0 0;
}

.barra {
    width: 52.429vw;
    height: 0.533vw;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

div.col-md-6.colsubtextoperfil {
    width: 73.333vw;
    margin: 10.341vw auto 0 ;
    padding: 0;
    font-size: 6.933vw;
    line-height: 6.933vw;
    color: #FFFFFF;
}

p.subtexto-perfil {
    width: 73.333vw;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.linha2 {
    margin: 13.067vw 0 0;
    padding-bottom: 36.267vw;

}

.col-md-2.coltitleperfil02 {
    width: 73.333vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    top: 10.933vw;
}

div.col-md-6.colsubtextoperfil02 {
    width: 73.333vw;
    height: auto;
    margin: 16.533vw auto 0;
    padding: 0;
    font-size: 6.933vw;
    line-height: 6.933vw;
    color: #FFFFFF;
}
    /*Roda pé*/
    .row.footer {
        height: 57.333vw;
    }
    
    .direito {
        margin-top: 25.333vw;
        font-size: 6.933vw;
        line-height: 0.470vw;
    }
}
/* fim da tela => 1440px */

/* Inicio da tela => 320px */
    @media screen and (max-width: 565px) {
        /* Cabeçalho*/
    header {
        width: 100%;
        height: 39.200vw;
    }

    h1.title {
        font-size: 16vw;
        padding-top: 9.600vw;
        margin: 0;
    }

    /*Banner*/
    .banner-img {
        width: 100%;
        height: 25%;
        margin: 0;
    }

    /*Informação*/
    .container-section {
        width: 100%;
        height: auto;
        background: linear-gradient(#7E649F 0%, #130D36 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    /*texto inicial*/
    .container-section {
        width: 100%;
        height: auto;
        top: 59.236vw;

    }
    .conteinar-text01 {
        width: 100%;
        height: 140.333vw;
    }

    .text-box {
        width: 86.181vw;
        height: 6.528vw;
        margin-left: auto;
        margin-right: auto;
    }

    .text01 {
        width: 66.667vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 6.933vw;
        line-height: 6.933vw;
        padding-top: 17.600vw;
    }

        /* Botão */
    .row.container-btn {
        width: 100%;
        height: 41.867vw;
    }

    .box-btn {
        width: 325.556vw;
        height: 4.306vw;
        margin-left: auto;
        margin-right: auto;
        
    }

    .button {
        width: 84.533vw ;
        height: 16.533vw;
        font-size: 8vw;
        line-height: 9.600vw;
        display: flex;
        letter-spacing: 0.02em;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 1.067vw 1.067vw rgba(0, 0, 0, 0.25);
        border-radius: 1.600vw;
    }

        /* Cartão */
    .rowcard {
        margin-top: 2.667vw;
    }

    .card-group {
        margin: auto;
    }

    .card {
        width: 85.333vw;
        margin: 2.667vw auto 0;
        margin-left: auto;
        margin-top: auto;
    }

    img.card-img-top {
        width: 40.533vw;
    }

    .card-subtitle.mb-2.tema01 {
        font-size: 5.867vw;
        letter-spacing: 0.02em;
    }

    .card-subtitle.mb-2 {

        font-size: 5.867vw;
        letter-spacing: 0.02em;
    }

    .card-title {
        margin-top: 9.600vw;
        font-size: 8.533vw;
        letter-spacing: 0.02em;
    }

    .card-text {
        font-size: 5.867vw;
        line-height: 6.933vw;
        align-items: center;
        text-align: center;
    }

    .card-text.text02{
        width: 72vw;
        margin-left: auto;
        margin-right: auto;
    }

    .card02 {
        width: 85.333vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25.333vw;
        height: auto;
    }

    .card03 {
        width: 85.333vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25.333vw;
        height: auto;
    }

    .card-text.text03{
        width: 72vw;
        margin-left: auto;
        margin-right: auto;
    }

        /* Texto chamativo */
    .row.row-text-call{
        width: 100%;
        margin: 32.267vw 0 31.200vw;
    }

    .text-call01 {
        font-size: 16vw;
        line-height: 19.200vw;
        margin: 0;
        padding: 0;
    }

        /* texto dos perfis */
    .col-md-2.coltitleperfil {
        width: 68vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        top: 4.707vw;
    }

    .title-perfil {
        font-size: 11.200vw;
        line-height: 13.333vw;
        text-align: center;
    }

    .col-md.colbarra {
        padding: 0;
        margin: 25.682vw 0 0;
    }

    .barra {
        width: 52.429vw;
        height: 0.533vw;
        margin-left: auto;
        margin-right: auto;
    }

    div.col-md-6.colsubtextoperfil {
        width: 73.333vw;
        margin: 16.533vw auto 0;
        padding: 0;
        font-size: 6.933vw;
        line-height: 6.933vw;
    }

    p.subtexto-perfil {
        width: 73.333vw;
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .linha2 {
        margin: 13.067vw 0 0;
        padding-bottom: 36.267vw;

    }

    .col-md-2.coltitleperfil02 {
        width: 73.333vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        top: 10.933vw;
    }

    div.col-md-6.colsubtextoperfil02 {
        width: 73.333vw;
        height: auto;
        margin: 16.533vw auto 0;
        padding: 0;
        font-size: 6.933vw;
        line-height: 6.933vw;
    }

    p.subtexto-perfil2 {
        width: 73.333vw;
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }


        /*Roda pé*/
        .row.footer {
            height: 57.333vw;
        }
        
        .direito {
            margin-top: 25.333vw;
            font-size: 6.933vw;
            line-height: 0.470vw;
        }
    }
/* fim da tela => 320px */